extends layout

block content
  .row.justify-content-center
    .col-md-6
      h2.text-center.mt-3 Add Video Category
      hr

      // Check if there's a success flash message
      if success.length > 0
        .alert.alert-success.text-center #{success}

      // Check if there's an error flash message
      if error.length > 0
        .alert.alert-danger.text-center #{error}

      form(method="POST" action="/add_category")
        .form-group
          label(for="title") Category Title
          input#title.form-control(type="text" name="title" required placeholder="Enter category title")
        
        button.btn.btn-primary.mt-3(type="submit") Add Category
