extends layout

block content
  h2.text-center.text-primary Add Video

  if success && success.length > 0
    .alert.alert-success.text-center #{success[0]}

  if error && error.length > 0
    .alert.alert-danger.text-center #{error[0]}

  .row.justify-content-center.mt-4
    .col-md-6
      form(action="/add_video", method="POST")
        .mb-4
          label(for="title").fw-bold Video Title
          input.form-control(type="text", name="title", placeholder="Enter video title", required)

        .mb-4
          label(for="category").fw-bold Video Category
          select.form-select(name="category", required)
            option(value="") -- Select a Category --
            each category in videoCategories
              option(value=category._id)= category.title

        .mb-3
          label(for="youtubeUrl").fw-bold YouTube Video URL
          input.form-control(type="url", name="youtubeUrl", placeholder="https://YouTube.com/YourVideoID", required)

        button.btn.btn-primary.btn-block(type="submit") Add Video
